body {
    background-color: #f5deb3;
    text-align: center;
}

.navbar {
    background-color: #B3F5DE;
    box-shadow: 0px 0px 10px #2a3a34;
}

.navbar-brand {
    font-family: "Rubik Bubbles";
    color: black;
    font-size: 24px;
}

.nav-link,
.navbar-text{
    font-family: "Fuzzy Bubbles", sans-serif;
    color: black;
    font-size: 20px;
}

p {
    font-size: 18px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: black;
    font-family: "Fuzzy Bubbles", sans-serif;
}

h1 {
    margin-top: 2%;
    font-family: "Rubik Bubbles";
    color: black;
}

h2{
    margin-bottom: 2%;
    font-family: "Fuzzy Bubbles", sans-serif;
    color: black;
}

.row {
    margin-bottom: 5%;
    font-family: "Fuzzy Bubbles", sans-serif;
    color: #6b5775;
    font-size: 16px;
}

